@import "../common.scss";

.content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "header header header header header header"
                         "bar    cont   cont   cont   cont   cont";
    grid-template-rows: min-content;
    min-height: 100vh;
    //border: 1px black solid;

    header {
        grid-area: header;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 7vh;
        background-color: #212684;
        //border: 1px red solid;

        h1 {
            color: aliceblue;
        }
    }

    .bar {
        grid-area: bar;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 15px;
        //border: 1px green solid;
        background-color: #6D72DE;

        .img-border {
            background-color: #030a89;
            display: flex;
            flex-direction: column;
            gap: 15px;
            justify-content: center;
            align-items: center;
            padding-bottom: 15px;
            //border: 1px purple solid;

            img {
                width: 60%;
            }

            p {
                text-decoration: underline;
                color: aliceblue;
            }
        }
        

        .drawer {
            display: flex;
            flex-direction: column;
            gap: 30px;
            
            p {
                //padding-left: 35px;
                padding: 10px 0px 10px 35px;
                font-size: 25px;
                &:hover {
                    cursor: pointer;
                }
            }

            #certificates {
                background-color: #0008a4;
                margin-left: 1px;
                margin-right: 1px;
            }
        }
    }

    .main-content {
        grid-area: cont;
        //border: 1px blue solid;

        background-size: 300% 300%;
        background-image: linear-gradient(
                -45deg, 
                #12165E 0%, 
                #1C2291 25%, 
                #2A33DE 51%, 
                #6D72DE 100%
        );  
        animation: AnimateBG 20s ease infinite;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "cert01 cert02 cert03" "cert04 cert05 cert06";
        padding: 40px;
        gap: 15px;
          
        @keyframes AnimateBG { 
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }

        img {
            width: 250px;
            height: 170px;
        }

        p {
            padding: 10px;
            background-color: #595fd7;
            border-radius: 10px;
        }

        #cert02-p {
            width: 300px;
        }

        #plus {
            width: 100px;
            height: 100px;
        }

        .cert01 {
            grid-area: cert01;
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #6D72DE;
            border-radius: 30px
        }

        .cert:hover {
            transition: 0.5s;
            background-color: #2A33DE;
        }

        .cert02 {
            grid-area: cert02;
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #6D72DE;
            border-radius: 30px
        }

        .cert03 {
            grid-area: cert03;
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #6D72DE;
            border-radius: 30px
        }

        .cert04 {
            grid-area: cert04;
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #6D72DE;
            border-radius: 30px
        }

        .cert05 {
            grid-area: cert05;
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #6D72DE;
            border-radius: 30px
        }
    }
}

@import "../responsivity/libeloPageRES.scss";